<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <title>xr-defecto</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">

            <div th:replace="~{topmenu :: navigation(metering)}"/>

            <br>

            <div class="input-group">
                <select class="custom-select">
                    <option selected>...</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                </select>
                <span>Рентгеновский аппарат</span>
                <select class="custom-select" id="inputGroupSelect04" th:each="xrm :  ${xRayMachines}">
                    <option th:text="${xrm.getTitle()}"/>
                </select>
            </div>

            <br>

            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th scope="row">Фокусное пяткно</th>
                    <td th:text="${xRayMachine.getFocalHeel()}"/>
                    <td> </td>
                    <td rowspan="6"> </td>
                </tr>
                <tr>
                    <th scope="row">Минимальное напряжение</th>
                    <td th:text="${xRayMachine.getMinVoltage()}"/>
                    <td>кВ</td>
                </tr>
                <tr>
                    <th scope="row">Максимальное напряжение</th>
                    <td th:text="${xRayMachine.getMaxVoltage()}"/>
                    <td>кВ</td>
                </tr>
                <tr>
                    <th scope="row">Минимальный ток</th>
                    <td th:text="${xRayMachine.getMinCurrent()}"/>
                    <td>мА</td>
                </tr>
                <tr>
                    <th scope="row">Максимальный ток</th>
                    <td th:text="${xRayMachine.getMaxCurrent()}"/>
                    <td>мА</td>
                </tr>
                <tr>
                    <th scope="row">Расстояние источник-окно</th>
                    <td th:text="${xRayMachine.getSourceWindowDistance()}"/>
                    <td>мм</td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>